@use 'base/variables' as v;
@use 'base/mixins' as m;



.header {
    img {
        max-width: 30rem;
        width: 100%;
        display: block;
        margin: 0 auto;
        padding: 1rem 0;
    }
}

.navegacion-principal {
    text-align: center;
    margin-top: 2rem;

    a {
        margin: 0 2rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: v.$color-black-light;

        &:hover {
            color: v.$color-yellow;
        }
    }

    @include m.tablet {
        margin-top: 3rem;

        a {
            font-size: 1.8rem;
            margin: 0 3rem;
        }
    }
}

.section {
    margin: 15rem auto;
}